.holder {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    flex-grow: 1;
}

.item:nth-child(1) {
    background-color: coral;
    order: 1;
    flex-grow: 2;
    flex-basis: calc(50%);
    border-radius: 20px 0 0 0;
}

.item:nth-child(2) {
    background-color: blue;
    order: 4;
}

.item:nth-child(3) {
    background-color: purple;
    order: 3;
}

.item:nth-child(4) {
    background-color: green;
    order: 5;
}

.item:nth-child(5) {
    background-color: yellow;
    order: 2;
    flex-grow: 2;
    flex-basis: calc(50%);
    border-radius: 0 20px 0 0;
}